{
    "host": "127.0.0.1",
    "port": 3000,
    "key": "./self-signed-key.key",
    "cert": "./self-signed-cert.crt",
    "addresses": {
        "https://toshokan.org": "http://127.0.1.:3010",
    }
}
